{% extends 'layout/panel-student.html' %}
{% load static %}

{% block styles %}{% endblock styles %}

{% block body %}
    <div class="container panel-container">
        <h4 class="fw-bold">اطلاعات پایان‌نامه</h4>
        <h6 class="text-secondary">در این بخش می‌توانید اطلاعات پایان‌نامه خود را مشاهده کنید.</h6>

        <div class="bg-white shadow d-flex flex-column align-items-center mt-4 mb-4 py-5 rounded-4">
            <i class="bi bi-plus-circle text-secondary" style="font-size: 100px"></i>
            <p>آخرین ویرایش فایل پایان‌نامه خود را آپلود کنید.</p>
            <button type="button" class="btn btn-primary">انتخاب فایل</button>
        </div>

        <div class="bg-white shadow d-flex flex-column align-items-start mb-5 p-4 rounded-4 border">
            <h6>اطلاعات پایان‌نامه</h6>
            <p>عنوان: </p>
            <p>رشته: </p>
            <p>استاد راهنما: </p>
            <p>استاد مشاور: </p>
        </div>
    </div>
{% endblock body %}

{% block script %}
{% endblock script %}