{% extends 'layout/home.html' %}
{% load static %}

{% block styles %}{% endblock styles %}


{% block body %}
<div class="text-center d-flex flex-column justify-content-center align-items-center text-white pb-5" style="width:100vw;height:calc(100vh - 72px);">
    <h1>پروپوزال خود را راحت پیش ببرید</h1>
    <p class="mt-2">پروپوزال خود را به راحتی در اختیار استادان خود قرار دهید.</p>
    <div class="d-flex justify-content-evenly" style="width:270px">
        <button type="button" class="btn btn-primary">ورود دانشجویان</button>
        <button type="button" class="btn btn-outline-primary">ورود استادان</button>
    </div>
</div>
{% endblock body %}


{% block scripts %}{% endblock scripts %}