{% extends 'layout/panel-prof.html' %}
{% load static %}

{% block styles %}{% endblock styles %}

{% block body %}
    <div x-data="{showProposals: true}" class="container panel-container">
        <h4 class="fw-bold">درخواست‌های تصویب</h4>
        <h6 class="text-secondary">در این بخش می‌توانید درخواست‌های تصویب پروپوزال را مدیریت کنید.</h6>

        <div class="btn-group btn-group-lg w-100 messages-tabs mt-4" role="group" aria-label="Large button group">
            <button @click="showProposals=true" :class="showProposals ? 'current' : ''" type="button" class="btn btn-outline-primary">پروپوزال‌ها</button>
            <button @click="showProposals=false" :class="showProposals ? '' : 'current'" type="button" class="btn btn-outline-primary">دفاع‌ها</button>
        </div>
    
        {% comment %} proposals section {% endcomment %}
        <div x-cloak x-show.important="showProposals" class="mb-5 mt-4">

            {% comment %} collapse for new proposals {% endcomment %}
            <div class="accordion mb-4" id="accordionNewProposals">

                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNewProposals" aria-expanded="true" aria-controls="collapseNewProposals">
                        پروپوزال‌های جدید
                    </button>
                </h2>
                <div id="collapseNewProposals" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionNewProposals">

                    {% for p in wf_arzyab_proposals %}
                        <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                            
                            <div class="d-flex flex-wrap">
                                <div class="me-5">
                                    <p><span class="text-secondary" style="font-weight:400;">نام دانشجو: </span>{{ p.owner.first_name }} {{ p.owner.last_name }}</p>
                                    <p><span class="text-secondary" style="font-weight:400;">استاد راهنما: </span>دکتر {{ p.prof_rahnama.first_name }} {{ p.prof_rahnama.last_name }}</p>
                                    <p><span class="text-secondary" style="font-weight:400;">رشته: </span>{{ p.owner.user_profile.first.study_field }}</p>
                                </div>
    
                                <div>
                                    <p><span class="text-secondary" style="font-weight:400;">عنوان: </span>{{ p.name }}</p>
                                    <p><span class="text-secondary" style="font-weight:400;">استاد مشاور: </span>دکتر {{ p.prof_moshaver.first_name }} {{ p.prof_moshaver.last_name }}</p>
                                    <p><span class="text-secondary" style="font-weight:400;">تاریخ تصویب: </span>{{ p.status }}</p>
                                </div>
                            </div>

                            <div class="d-flex flex-wrap mt-1 mb-3">
                                <span class="badge text-bg-success fs-6 rounded-pill py-3 px-4 mt-1 me-2">تأیید استاد راهنما 1</span>
                                <span class="badge text-bg-success fs-6 rounded-pill py-3 px-4 mt-1">تأیید استاد مشاور 1</span>
                            </div>

                            <form method="post" class="d-flex align-items-center justify-content-start flex-wrap" style="width:fit-content;">
                                {% csrf_token %}
                                <a target="_balnk" href="{% url 'panel:download_file' p.id 'proposal' %}" class="btn btn-primary me-2 mb-2">دانلود فایل</a>

                                <select class="form-select mb-2 w-100 mb-2" id="multiple-select-field" name="{{ form.profs_arzyab.name }}" data-placeholder="انتخاب استادهای ارزیاب" multiple>
                                    {% for option in form.profs_arzyab %}
                                        {{ option }}
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="p_id" value="{{p.id}}">

                                <button type="submit" class="btn btn-primary me-2 ms-2 mb-2">ارسال به استادهای ارزیاب</button>
                            </form>
                        </div>
                        {% empty %}
                        <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                            <p class="m-0">پروپوزالی ندارید</p>
                        </div>  
                    {% endfor %}
                    
                </div>
                </div>

            </div>
        

            {% comment %} collapse for assessed porpposals {% endcomment %}
            <div class="accordion mb-4" id="accordionAssessedPorpposals">

                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAssessedPorpposals" aria-expanded="true" aria-controls="collapseAssessedPorpposals">
                        تأیید شده توسط استاد ارزیاب
                    </button>
                </h2>
                <div id="collapseAssessedPorpposals" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionAssessedPorpposals">

                    {% for p in wf_admin_proposals %}
                        <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                            
                            <div class="d-flex flex-wrap">
                                <div class="me-5">
                                    <p><span class="text-secondary" style="font-weight:400;">نام دانشجو: </span>{{ p.owner.first_name }} {{ p.owner.last_name }}</p>
                                    <p><span class="text-secondary" style="font-weight:400;">استاد راهنما: </span>دکتر {{ p.prof_rahnama.first_name }} {{ p.prof_rahnama.last_name }}</p>
                                    <p><span class="text-secondary" style="font-weight:400;">رشته: </span>{{ p.owner.user_profile.first.study_field }}</p>
                                </div>
    
                                <div>
                                    <p><span class="text-secondary" style="font-weight:400;">عنوان: </span>{{ p.name }}</p>
                                    <p><span class="text-secondary" style="font-weight:400;">استاد مشاور: </span>دکتر {{ p.prof_moshaver.first_name }} {{ p.prof_moshaver.last_name }}</p>
                                    <p><span class="text-secondary" style="font-weight:400;">تاریخ تصویب: </span>{{ p.status }}</p>
                                </div>
                            </div>

                            <div>
                                <button type="button" class="btn btn-primary me-2 mt-1">تأیید نهایی</button>
                                <a target="_balnk" href="{% url 'panel:download_file' p.id 'proposal' %}" class="btn btn-primary me-2 mb-2">دانلود فایل</a>
                            </div>
                        </div>
                        {% empty %}
                        <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                            <p class="m-0">پروپوزالی ندارید</p>
                        </div> 
                    {% endfor %}
                    
                </div>
                </div>

            </div>


            {% comment %} collapse for history {% endcomment %}
            <div class="accordion mb-5" id="accordionHistory">

                <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHistory" aria-expanded="true" aria-controls="collapseHistory">
                        فعالیت‌های گذشته
                    </button>
                </h2>
                <div id="collapseHistory" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionHistory">

                    <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                        
                        <div class="d-flex flex-wrap">
                            <div class="me-5">
                                <p><span class="text-secondary" style="font-weight:400;">نام دانشجو: </span>محمدمهدی شیخی</p>
                                <p><span class="text-secondary" style="font-weight:400;">استاد راهنما: </span>دکتر مهدی خانجانی</p>
                                <p><span class="text-secondary" style="font-weight:400;">رشته: </span>روان‌شناسی عمومی</p>
                            </div>

                            <div>
                                <p><span class="text-secondary" style="font-weight:400;">عنوان: </span>بررسی عوامل دموگرافیک بر رضایت از ازدواج</p>
                                <p><span class="text-secondary" style="font-weight:400;">استاد مشاور: </span>دکتر حسین اسکندری</p>
                                <p><span class="text-secondary" style="font-weight:400;">تاریخ تصویب: </span>هنوز درخواست تصویب داده نشده</p>
                            </div>
                        </div>

                        <div>
                            <span class="badge text-bg-warning fs-6 rounded-pill py-3 px-4">ارسال شده به استاد ارزیاب</span>
                        </div>
                    </div>

                    <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                        
                        <div class="d-flex flex-wrap">
                            <div class="me-5">
                                <p><span class="text-secondary" style="font-weight:400;">نام دانشجو: </span>محمدمهدی شیخی</p>
                                <p><span class="text-secondary" style="font-weight:400;">استاد راهنما: </span>دکتر مهدی خانجانی</p>
                                <p><span class="text-secondary" style="font-weight:400;">رشته: </span>روان‌شناسی عمومی</p>
                            </div>

                            <div>
                                <p><span class="text-secondary" style="font-weight:400;">عنوان: </span>بررسی عوامل دموگرافیک بر رضایت از ازدواج</p>
                                <p><span class="text-secondary" style="font-weight:400;">استاد مشاور: </span>دکتر حسین اسکندری</p>
                                <p><span class="text-secondary" style="font-weight:400;">تاریخ تصویب: </span>هنوز درخواست تصویب داده نشده</p>
                            </div>
                        </div>

                        <div>
                            <span class="badge text-bg-success fs-6 rounded-pill py-3 px-4">تأیید شد</span>
                        </div>
                    </div>
                    
                </div>
                </div>

            </div>

        </div>


        {% comment %} defa section {% endcomment %}
        <div x-cloak x-show.important="!showProposals">
            <div class="container text-center mt-5">
                <i class="bi bi-sign-dead-end" style="font-size:100px"></i>
                <h6>این بخش در دست ساخت است!</h6>
            </div>
        </div>

    </div>
{% endblock body %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#multiple-select-field').select2({
            theme: "bootstrap-5",
            placeholder: $(this).data('placeholder'),
            width: '240px',
            closeOnSelect: false
        });
    });
</script>
{% endblock scripts %}