{% extends 'layout/panel-prof.html' %}
{% load static %}

{% block styles %}{% endblock styles %}

{% block body %}
    <div class="container panel-container">
        <h4 class="fw-bold">تأیید پروپوزال‌ها</h4>
        <h6 class="text-secondary mb-5">در این بخش می‌توانید پروپوزال‌هایی را که به نحوی به شما مربوط هستند، تأیید نمایید.</h6>

        {% comment %} collapse for ostad rahnama {% endcomment %}
        <div class="accordion mb-4" id="accordionRahnama">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRahnama" aria-expanded="true" aria-controls="collapseRahnama">
                    استاد راهنما هستید
                </button>
              </h2>
              <div id="collapseRahnama" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionRahnama">


                {% for p in rahnama_proposals %}
                    <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                        
                        <div class="d-flex flex-wrap">
                            <div class="me-5">
                                <p><span class="text-secondary" style="font-weight:400;">نام دانشجو: </span>{{ p.owner.first_name }} {{ p.owner.last_name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">استاد راهنما: </span>دکتر {{ p.prof_rahnama.first_name }} {{ p.prof_rahnama.last_name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">رشته: </span>{{ p.owner.user_profile.first.study_field }}</p>
                            </div>

                            <div>
                                <p><span class="text-secondary" style="font-weight:400;">عنوان: </span>{{ p.name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">استاد مشاور: </span>دکتر {{ p.prof_moshaver.first_name }} {{ p.prof_moshaver.last_name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">تاریخ تصویب: </span>{{ p.status }}</p>
                            </div>
                        </div>

                        <div>
                            <a href="{% url 'panel:download_file' p.id 'proposal' %}" target="_blank"class="btn btn-primary me-2 mt-1">دانلود فایل</a>
                            <a href="{% url 'panel_prof:proposal_accept_action' p.id 'accept-rahnama' %}" class="btn btn-primary me-2 mt-1">تأیید</a>
                            <a href="{% url 'panel_prof:proposal_accept_action' p.id 'reject' %}" class="btn btn-outline-primary mt-1">نیاز به اصلاح</a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                        <p class="m-0">پروپوزالی ندارید</p>
                    </div>
                {% endfor %}
                
              </div>
            </div>

        </div>
    

        {% comment %} collapse for ostad moshaver {% endcomment %}
        <div class="accordion mb-4" id="accordionMoshaver">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMoshaver" aria-expanded="true" aria-controls="collapseMoshaver">
                    استاد مشاور هستید
                </button>
              </h2>
              <div id="collapseMoshaver" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionMoshaver">


                {% for p in moshaver_proposals %}
                    <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                        
                        <div class="d-flex flex-wrap">
                            <div class="me-5">
                                <p><span class="text-secondary" style="font-weight:400;">نام دانشجو: </span>{{ p.owner.first_name }} {{ p.owner.last_name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">استاد راهنما: </span>دکتر {{ p.prof_rahnama.first_name }} {{ p.prof_rahnama.last_name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">رشته: </span>{{ p.owner.user_profile.first.study_field }}</p>
                            </div>

                            <div>
                                <p><span class="text-secondary" style="font-weight:400;">عنوان: </span>{{ p.name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">استاد مشاور: </span>دکتر {{ p.prof_moshaver.first_name }} {{ p.prof_moshaver.last_name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">تاریخ تصویب: </span>{{ p.status }}</p>
                            </div>
                        </div>

                        <div>
                            <a href="{% url 'panel:download_file' p.id 'proposal' %}" target="_blank" class="btn btn-primary me-2 mt-1">دانلود فایل</a>
                            <a href="{% url 'panel_prof:proposal_accept_action' p.id 'accept-moshaver' %}" class="btn btn-primary me-2 mt-1">تأیید</a>
                            <a href="{% url 'panel_prof:proposal_accept_action' p.id 'reject' %}" class="btn btn-outline-primary mt-1">نیاز به اصلاح</a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                        <p class="m-0">پروپوزالی ندارید</p>
                    </div>
                {% endfor %}
                
              </div>
            </div>

        </div>


        {% comment %} collapse for history {% endcomment %}
        <div class="accordion mb-5" id="accordionHistory">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHistory" aria-expanded="true" aria-controls="collapseHistory">
                    فعالیت‌های گذشته
                </button>
              </h2>
              <div id="collapseHistory" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionHistory">

                <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                    
                    <div class="d-flex flex-wrap">
                        <div class="me-5">
                            <p><span class="text-secondary" style="font-weight:400;">نام دانشجو: </span>محمدمهدی شیخی</p>
                            <p><span class="text-secondary" style="font-weight:400;">استاد راهنما: </span>دکتر مهدی خانجانی</p>
                            <p><span class="text-secondary" style="font-weight:400;">رشته: </span>روان‌شناسی عمومی</p>
                        </div>

                        <div>
                            <p><span class="text-secondary" style="font-weight:400;">عنوان: </span>بررسی عوامل دموگرافیک بر رضایت از ازدواج</p>
                            <p><span class="text-secondary" style="font-weight:400;">استاد مشاور: </span>دکتر حسین اسکندری</p>
                            <p><span class="text-secondary" style="font-weight:400;">تاریخ تصویب: </span>هنوز درخواست تصویب داده نشده</p>
                        </div>
                    </div>

                    <div>
                        <span class="badge text-bg-success fs-6 rounded-pill py-3 px-4">تأیید شد</span>
                    </div>
                </div>

                <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                      
                    <div class="d-flex flex-wrap">
                        <div class="me-5">
                            <p><span class="text-secondary" style="font-weight:400;">نام دانشجو: </span>محمدمهدی شیخی</p>
                            <p><span class="text-secondary" style="font-weight:400;">استاد راهنما: </span>دکتر مهدی خانجانی</p>
                            <p><span class="text-secondary" style="font-weight:400;">رشته: </span>روان‌شناسی عمومی</p>
                        </div>

                        <div>
                            <p><span class="text-secondary" style="font-weight:400;">عنوان: </span>بررسی عوامل دموگرافیک بر رضایت از ازدواج</p>
                            <p><span class="text-secondary" style="font-weight:400;">استاد مشاور: </span>دکتر حسین اسکندری</p>
                            <p><span class="text-secondary" style="font-weight:400;">تاریخ تصویب: </span>هنوز درخواست تصویب داده نشده</p>
                        </div>
                    </div>

                    <div>
                        <span class="badge text-bg-warning fs-6 rounded-pill py-3 px-4">نیاز به اصلاح</span>
                    </div>
                </div>
                
              </div>
            </div>

        </div>

    </div>
{% endblock body %}

{% block script %}
{% endblock script %}