{% extends 'layout/panel-prof.html' %}
{% load static %}

{% block styles %}{% endblock styles %}

{% block body %}
<div class="container panel-container">
    <h4 class="fw-bold">ارزیابی‌‌ها</h4>
    <h6 class="text-secondary mb-5">در این بخش می‌توانید پروپوزال‌هایی را که استاد ارزیاب‌ آن‌ها شما هستید، مشاهده نمایید.</h6>

    {% comment %} collapse for not assessed {% endcomment %}
    <div class="accordion mb-4" id="accordionNotAssessed">

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNotAssessed" aria-expanded="true" aria-controls="collapseNotAssessed">
                استاد راهنما هستید
            </button>
          </h2>
          <div id="collapseNotAssessed" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionNotAssessed">

            <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                
                <div class="d-flex flex-wrap">
                    <div class="me-5">
                        <p><span class="text-secondary" style="font-weight:400;">نام دانشجو: </span>محمدمهدی شیخی</p>
                        <p><span class="text-secondary" style="font-weight:400;">استاد راهنما: </span>دکتر مهدی خانجانی</p>
                        <p><span class="text-secondary" style="font-weight:400;">رشته: </span>روان‌شناسی عمومی</p>
                    </div>

                    <div>
                        <p><span class="text-secondary" style="font-weight:400;">عنوان: </span>بررسی عوامل دموگرافیک بر رضایت از ازدواج</p>
                        <p><span class="text-secondary" style="font-weight:400;">استاد مشاور: </span>دکتر حسین اسکندری</p>
                        <p><span class="text-secondary" style="font-weight:400;">تاریخ تصویب: </span>هنوز درخواست تصویب داده نشده</p>
                    </div>
                </div>

                <div>
                    <button type="button" class="btn btn-primary me-2 mt-1">دانلود فایل</button>
                    <button type="button" class="btn btn-primary me-2 mt-1">تأیید</button>
                    <button type="button" class="btn btn-outline-primary mt-1">نیاز به اصلاح</button>
                </div>
            </div>
            
          </div>
        </div>

    </div>


    {% comment %} collapse assessed {% endcomment %}
    <div class="accordion mb-5" id="accordionAssessed">

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAssessed" aria-expanded="true" aria-controls="collapseAssessed">
                فعالیت‌های گذشته
            </button>
          </h2>
          <div id="collapseAssessed" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionAssessed">

            <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                
                <div class="d-flex flex-wrap">
                    <div class="me-5">
                        <p><span class="text-secondary" style="font-weight:400;">نام دانشجو: </span>محمدمهدی شیخی</p>
                        <p><span class="text-secondary" style="font-weight:400;">استاد راهنما: </span>دکتر مهدی خانجانی</p>
                        <p><span class="text-secondary" style="font-weight:400;">رشته: </span>روان‌شناسی عمومی</p>
                    </div>

                    <div>
                        <p><span class="text-secondary" style="font-weight:400;">عنوان: </span>بررسی عوامل دموگرافیک بر رضایت از ازدواج</p>
                        <p><span class="text-secondary" style="font-weight:400;">استاد مشاور: </span>دکتر حسین اسکندری</p>
                        <p><span class="text-secondary" style="font-weight:400;">تاریخ تصویب: </span>هنوز درخواست تصویب داده نشده</p>
                    </div>
                </div>

                <div>
                    <span class="badge text-bg-success fs-6 rounded-pill py-3 px-4">تأیید شد</span>
                </div>
            </div>

            <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                  
                <div class="d-flex flex-wrap">
                    <div class="me-5">
                        <p><span class="text-secondary" style="font-weight:400;">نام دانشجو: </span>محمدمهدی شیخی</p>
                        <p><span class="text-secondary" style="font-weight:400;">استاد راهنما: </span>دکتر مهدی خانجانی</p>
                        <p><span class="text-secondary" style="font-weight:400;">رشته: </span>روان‌شناسی عمومی</p>
                    </div>

                    <div>
                        <p><span class="text-secondary" style="font-weight:400;">عنوان: </span>بررسی عوامل دموگرافیک بر رضایت از ازدواج</p>
                        <p><span class="text-secondary" style="font-weight:400;">استاد مشاور: </span>دکتر حسین اسکندری</p>
                        <p><span class="text-secondary" style="font-weight:400;">تاریخ تصویب: </span>هنوز درخواست تصویب داده نشده</p>
                    </div>
                </div>

                <div>
                    <span class="badge text-bg-warning fs-6 rounded-pill py-3 px-4">نیاز به اصلاح</span>
                </div>
            </div>
            
          </div>
        </div>

    </div>

</div>
{% endblock body %}

{% block script %}
{% endblock script %}