{% extends 'layout/panel-prof.html' %}
{% load static %}

{% block styles %}{% endblock styles %}

{% block body %}
    <div class="container panel-container">
        <h4 class="fw-bold">پروپوزال‌ها</h4>
        <h6 class="text-secondary mb-5">در این بخش می‌توانید پروپوزال‌هایی که به نحوی به شما مربوط هستند، مشاهده نمایید.</h6>

        {% comment %} collapse for ostad rahnama {% endcomment %}
        <div class="accordion mb-4" id="accordionRahnama">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRahnama" aria-expanded="true" aria-controls="collapseRahnama">
                    استاد راهنما هستید
                </button>
              </h2>
              <div id="collapseRahnama" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionRahnama">

                {% for p in rahnama_proposals %}
                    <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                        
                        <div class="d-flex flex-wrap">
                            <div class="me-5">
                                <p><span class="text-secondary" style="font-weight:400;">نام دانشجو: </span>{{ p.owner.first_name }} {{ p.owner.last_name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">استاد راهنما: </span>دکتر {{ p.prof_rahnama.first_name }} {{ p.prof_rahnama.last_name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">رشته: </span>{{ p.owner.user_profile.first.study_field }}</p>
                            </div>

                            <div>
                                <p><span class="text-secondary" style="font-weight:400;">عنوان: </span>{{ p.name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">استاد مشاور: </span>دکتر {{ p.prof_moshaver.first_name }} {{ p.prof_moshaver.last_name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">تاریخ تصویب: </span>{{ p.status }}</p>
                            </div>
                        </div>

                        <div>
                            <a href="{% url 'chat:chat' user.id p.owner.id %}" class="btn btn-primary me-2">پیام به دانشجو</a>
                            <a href="{% url 'panel:download_file' p.id 'proposal' %}" class="btn btn-outline-primary">دانلود فایل</a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                        <p class="m-0">پروپوزالی ندارید</p>
                    </div>
                {% endfor %}
                
              </div>
            </div>

        </div>
    

        {% comment %} collapse for ostad moshaver {% endcomment %}
        <div class="accordion mb-5" id="accordionMoshaver">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMoshaver" aria-expanded="true" aria-controls="collapseMoshaver">
                    استاد مشاور هستید
                </button>
              </h2>
              <div id="collapseMoshaver" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionMoshaver">

                {% for p in moshaver_proposals %}
                    <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                        
                        <div class="d-flex flex-wrap">
                            <div class="me-5">
                                <p><span class="text-secondary" style="font-weight:400;">نام دانشجو: </span>{{ p.owner.first_name }} {{ p.owner.last_name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">استاد راهنما: </span>دکتر {{ p.prof_rahnama.first_name }} {{ p.prof_rahnama.last_name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">رشته: </span>{{ p.owner.user_profile.first.study_field }}</p>
                            </div>

                            <div>
                                <p><span class="text-secondary" style="font-weight:400;">عنوان: </span>{{ p.name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">استاد مشاور: </span>دکتر {{ p.prof_moshaver.first_name }} {{ p.prof_moshaver.last_name }}</p>
                                <p><span class="text-secondary" style="font-weight:400;">تاریخ تصویب: </span>{{ p.status }}</p>
                            </div>
                        </div>

                        <div>
                            <a href="{% url 'chat:chat' user.id p.owner.id %}" class="btn btn-primary me-2">پیام به دانشجو</a>
                            <a href="{% url 'panel:download_file' p.id 'proposal' %}" class="btn btn-outline-primary">دانلود فایل</a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="bg-white d-flex flex-column justify-content-start shadow-sm mt-3 p-4 rounded-4 border">
                        <p class="m-0">پروپوزالی ندارید</p>
                    </div>
                {% endfor %}
                
              </div>
            </div>

        </div>

    </div>
{% endblock body %}

{% block script %}
{% endblock script %}