@import "bootstrap/components/mixins/banner";
@include bsBanner("");

@font-face {
    font-family: 'Samim';
    src: url('../fonts/Samim-FD.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Samim-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Samim-FD.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Samim-FD.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Samim-FD.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
}
// @font-face {
//     font-family: 'Samim';
//     src: url('../fonts/Samim-Medium-FD.eot'); /* IE9 Compat Modes */
//     src: url('../fonts/Samim-Medium-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('../fonts/Samim-Medium-FD.woff2') format('woff2'), /* Super Modern Browsers */
//          url('../fonts/Samim-Medium-FD.woff') format('woff'), /* Pretty Modern Browsers */
//          url('../fonts/Samim-Medium-FD.ttf')  format('truetype'); /* Safari, Android, iOS */
//     font-weight: medium;
// }
@font-face {
    font-family: 'Samim';
    src: url('../fonts/Samim-Bold-FD.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Samim-Bold-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Samim-Bold-FD.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Samim-Bold-FD.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Samim-Bold-FD.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
}

* {
    font-family: 'Samim', sans-serif;
}

// Include any default variable overrides here (though functions won't be available) 

$blue: #3DD5F3;
$white: #FFF;
$black: #0A0A0B;
$gray: #6C757D;
$success: #28A745;
$danger: #DC3545;
$warning: #FFC107;
$info: #17A2B8;

$navbar-toggler-font-size: 16px;
$navbar-toggler-focus-width: 1px;
$navbar-nav-link-padding-x: 0;

$btn-padding-y: 10px;
$btn-padding-x: 16px;
$btn-font-size: 16px;
$btn-white-space: 'nowrap';
$btn-font-weight: bold;

$offcanvas-horizontal-width: 260px;
$offcanvas-vertical-height: 621px;

@import "bootstrap/bootstrap";


// Then add additional custom code here

.navbar {
    height: 72px !important;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.13), 0px 1px 2px 0px rgba(0, 0, 0, 0.13), 0px 3px 3px 0px rgba(0, 0, 0, 0.11), 0px 6px 4px 0px rgba(0, 0, 0, 0.07), 0px 11px 4px 0px rgba(0, 0, 0, 0.02), 0px 17px 5px 0px rgba(0, 0, 0, 0.00);
}

.navbar-panel {
    z-index: 1046;
}

.navbar-toggler {
    border: none;
}

// underline link animation
.a-wrapper {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0;
        opacity: 0;
        border-bottom: 1px solid transparent; /* set the initial border width and color */
        transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform-origin: center;
        left: 50%;
    }
    // &.white:hover::after {
    //     width: 100%;
    //     opacity: 1;
    //     transform: translateX(-50%);
    //     border-color: $white !important; /* set the border color on hover */
    // }
    &:hover::after {
        width: 100%;
        opacity: 1;
        transform: translateX(-50%);
        border-color: $black !important; /* set the border color on hover */
    }

    & .a-item {
        position: relative !important;
        z-index: 1 !important;
    }
}

.offcanvas {
    border-radius: 10px;
    border: none !important;
    height: 310px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
}

.offcanvas-panel {
    translate: 0 72px;
    height: 621px !important;
}

.sidebar-item {
    &.current {
        background-color: #3DD5F333;
    }

    & i {
        padding-right: 20px;
        
    }
    
    &:hover i {
        opacity: .75;
    }

    padding: 10px;
    border-radius: 4px;
    height: 46px;
    text-decoration: none;
    color: $black;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;

}

.btn-primary:hover {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.13), 0px 1px 2px 0px rgba(0, 0, 0, 0.13), 0px 3px 3px 0px rgba(0, 0, 0, 0.11), 0px 6px 4px 0px rgba(0, 0, 0, 0.07), 0px 11px 4px 0px rgba(0, 0, 0, 0.02), 0px 17px 5px 0px rgba(0, 0, 0, 0.00);
    background-color: #0DCAF0;
    border-color: #0DCAF0;
}

.btn-outline-primary {
    background-color: $white;
    color: $primary;

    &:hover {
        background-color: #0DCAF04D;
        color: #0DCAF0;
    }
}