{% extends 'layout/panel-prof.html' %}
{% load static %}

{% block styles %}{% endblock styles %}

{% block body %}
    <div x-data="{showStudentMessages: true}" class="container panel-container">
        <h4 class="fw-bold">پیام‌ها</h4>
        <h6 class="text-secondary">در این بخش می‌توانید با دانشجویانی که به شما مربوط هستند مکاتبه کنید.</h6>
        <h6 class="text-secondary">تمام چک‌ کردن‌های فایل‌های خود را اینجا انجام دهید.</h6>

        <div class="btn-group btn-group-lg w-100 messages-tabs mt-4" role="group" aria-label="Large button group">
            <button @click="showStudentMessages=true" :class="showStudentMessages ? 'current' : ''" type="button" class="btn btn-outline-primary">دانشجویان</button>
            <button @click="showStudentMessages=false" :class="showStudentMessages ? '' : 'current'" type="button" class="btn btn-outline-primary">استادان</button>
        </div>
    

        {% comment %} student messages {% endcomment %}
        <div x-cloak x-show.important="showStudentMessages" class="mb-5">
            <div class="bg-white shadow d-flex flex-column align-items-start mb-3 mt-5 p-4 rounded-4 border">
                <h6><span class="text-secondary">مخاطب: </span>محمدمهدی شیخی</h6>
                <p><small class="text-secondary">مقطع: </small>کارشناسی ارشد</p>
                <p><small class="text-secondary">رشته: </small>روان‌شناسی عمومی</p>
                <p><small class="text-secondary">عنوان شما: </small>استاد راهنما</p>
                <button type="button" class="btn btn-primary">باز کردن چت</button>
            </div>
            
            <div class="bg-white shadow d-flex flex-column align-items-start mb-3 mt-5 p-4 rounded-4 border">
                <h6><span class="text-secondary">مخاطب: </span>نیما سلطانی</h6>
                <p><small class="text-secondary">مقطع: </small>کارشناسی ارشد</p>
                <p><small class="text-secondary">رشته: </small>روان‌شناسی عمومی</p>
                <p><small class="text-secondary">عنوان شما: </small>استاد مشاور</p>
                <button type="button" class="btn btn-primary">باز کردن چت</button>
            </div>
        </div>


        {% comment %} prof messages {% endcomment %}
        <div x-cloak x-show.important="!showStudentMessages">
            <div class="bg-white shadow d-flex flex-column align-items-start mb-3 mt-5 p-4 rounded-4 border">
                <h6><span class="text-secondary">مخاطب: </span>دکتر عیسی مراد</h6>
                <button type="button" class="btn btn-primary">باز کردن چت</button>
            </div>
            
            <div class="bg-white shadow d-flex flex-column align-items-start mb-3 mt-5 p-4 rounded-4 border">
                <h6><span class="text-secondary">مخاطب: </span>دکتر حسین اسکندری</h6>
                <button type="button" class="btn btn-primary">باز کردن چت</button>
            </div>
        </div>

    </div>
{% endblock body %}

{% block script %}
{% endblock script %}