{% extends 'layout/panel-student.html' %}
{% load static %}

{% block styles %}{% endblock styles %}

{% block body %}
    <div class="container panel-container pb-5">
        <h4 class="fw-bold">پیام‌ها</h4>
        <h6 class="text-secondary">در این بخش می‌توانید با اساتید خود مکاتبه کنید. تمام چک‌ کردن‌های فایل‌های خود را اینجا انجام دهید.</h6>
        
        <a href="{% url 'chat:send_new_message' %}" class="btn btn-outline-primary mb-4 mt-3">ارسال پیام جدید</a>

        {% for m in messages_obj %}
            <div class="bg-white shadow d-flex flex-column align-items-start mb-4 p-4 rounded-4 border">
                <h6><span class="text-secondary">مخاطب: </span>دکتر {{m.mokhatab.first_name}} {{m.mokhatab.last_name}} {% if not m.last_message.is_read and user != m.sender %}<span class="badge text-bg-danger" style="translate: -5px -3px;font-size:9px;">پیام جدید</span>{% endif %}</h6>
                <p class="text-truncate" style="max-width:300px;"><small class="text-secondary">{{m.last_message.content}}...</small></p>
                <a href="{% url 'chat:chat' m.sender.id m.receiver.id %}" class="btn btn-primary">باز کردن چت</a>
            </div>
        {% endfor %}
        
    </div>
{% endblock body %}

{% block script %}
{% endblock script %}